<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white text-lg font-mono">
<div class="container max-w-lg mx-auto py-8">
    {{ template_content }}
</div>
</body>

<nav class="bg-black text-xs uppercase text-green text-center flex items-center justify-center space-x-4">
    {{ nav from="pages" include_home="true" }}
    <a href="{{ url }}" class="p-2 block hover:text-yellow-200">{{ title }}</a>
    {{ /nav  }}
</nav>
</html>